.gamefield {
  position: absolute;
  top:0px;
  left: 50px;
  width: 810px;
  height: 540px;
  background: lightgreen;
  /*display: inline-block;*/
  /*position: fixed;*/
}

.scoreboard {
  position: absolute;
  left: 860px;
  background: grey;
  width: 200px;
  height: 610px;
  top: 0px;
}

.userinputform {
  position: absolute;
  left: 50px;
  top: 540px;
  background: purple;
  height: 70px;
  width: 810px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
 margin-top: 10px;
 margin-left: 40px;
 height: 30px;
 font-size: 1.2em;
 /*border-radius: 20%;*/
}

h4 {
  text-align: center;
}

.useranswer {
  height: 30px;
  width: 300px;
  font-size: 1.4em;
  text-align: center;
}

.word {
    /*position: absolute;*/
    transition: 0.5s;
    /*top: 20px;
    right: 400px*/
}

span {
  font-size: 1.5em;
  font-family: 'Fira Mono', sans-serif;
}

span .explode {
    opacity: 0;
    transform: scale(3) rotate(10deg);
}
/*explosion code taken from here http://stackoverflow.com/questions/16512372/exploding-animation-using-css3*/
